.main {
	margin-left: var(--header-width);
	width: 100%;
	.main_inner {
		width: 100%;
		max-width: 1400px;
		section {
			.section_inner {
				display: flex;
			}
		}
	}
}

.item {
	position: relative;
	width: 200px;
	height: 200px;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.date,
	.title {
		position: absolute;
		left: 0;
	}
}
