footer {
	margin-left: var(--header-width);
	width: 100%;
	background: rgb(248, 248, 250);
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;

	.footer_inner {
		display: inline-block;
		p {
			text-align: center;
		}
	}
}
