header {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;

	width: var(--header-width);
	// background: rgb(235, 235, 239);
	.header_inner {
		// background: red;

		ul {
			padding: 0 20px;
		}
	}
}
